name: Deployment Workflow

on:
  workflow_dispatch:
  push:

jobs:
  job1:
    name: job1
    runs-on: ubuntu-latest
    steps: 
      - name: CodeCheckOut
        uses: actions/checkout@v4
      - name: ListFiles
        run: |
          df -h
          pwd
          ls -al
      - name: Command
        run: |
          echo "Any command to test"
      - name: UptimeVeersionDetect
        run: |
          uptime
          uname -a    

  job2:
    name: job2
    needs: job1
    uses: ./.github/workflows/reusable.yaml
    with:
        var1: "Umit Seremet"

  job3:
    name: job3
    needs: job1
    runs-on: ubuntu-latest
    steps:
      - name: "BeforeAction2"
        run: echo  "BeforeAction"
      - name: ActionForCodeCheckOut
        uses: umitseremet/github-actions-test/.github/actions/action2@main
      - name: "AfterAction2"
        uses: umitseremet/github-actions-test/.github/actions/action1@main


  job4:
    name: job4
    needs: job3
    uses: ./.github/workflows/actions/action1.yaml

  job5:
    name: job5
    needs: job4
    uses: ./.github/workflows/actions/action2.yaml
   